.container {
    width: 100%;
    max-width: 1200px;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.div-main-contact {
    display: flex;
}

.div-google-map {
    width: 700px;
    margin-right: 2rem;
}

.div-in-google-map {
    height: 300px;
}

.google-map {
    width: 100%;
    height: 100%;
}

.div-detail-contact {
    width: 480px;
    color: white;
    font-size: 1rem;
}

.contact_detail {
    font-size: 1rem;
}



@media (max-width: 1346px) {
    .div-main-contact {
        display: grid;
    }
    .div-google-map {
        height: 400px;
        margin-right: 0rem;
    }
    .div-in-google-map {
        width: 700px;
        height: 400px;

    }
    .div-detail-contact {
        margin-top: 20px;
        width: 100%;
        color: white;
        font-size: 1.2rem;
    }
}

@media (max-width: 813px) {
    .contact_detail {
        font-size: 0.89rem;
    }
    
    .div-google-map {
        width: 90vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .div-in-google-map {
        display: grid;
        align-items: center;
        width: 90%;
        height: 80%;

    }
    .div-detail-contact {
        padding-left: 5vw;
        width: 100%;
        color: white;
        font-size: 1.2rem;
    }
}

