.container {
    width: 100%;
    max-width: 1200px;
    margin: 100px auto;

}


.div-main-experience {
    width: 95%;

}

.div-label {
    display: flex;
    justify-content: center;
}

.label-experience {
    color: white;
    font-size: 1rem;
    margin: 2rem;
    font-weight: bold;
}

.ant-timeline-item-tail {
    background-color: rgb(68, 0, 255) !important;
}

.ant-timeline-item-content {
    font-size: 1rem !important;
    color: white !important;
}