.container {
    width: 100%;
    max-width: 1200px;
    margin: 100px auto;

}

.content-wrapper {

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.div-btn-cv {
    margin: 20px 0px 20px 0px;
}

.profile-div {
    font-size: 30px;
    font-weight: bold;
    color: white;
    width: 350px;
    height: 50px;
    background-color: greenyellow;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.div-main-homepage {
    display: flex;

}

.div-name-person {
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.div-detail {
    color: white;

    font-size: 20px;
}

.div-home-left {
    flex: 1;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 50%;


}

.div-img-tanet {
    flex: 1;



}

.img-tanet {
    width: 100%;
}


@media (max-width: 1346px) {

    .div-name-person {
        font-size: 4vw;

    }

    .div-main-homepage {
        display: grid;

    }

    .div-home-left {
        width: 100%;
        margin-right: 0rem;
        display: grid;
        justify-content: center;

    }

    .div-in-left {
        width: 75%;
        /* ตั้งความกว้างของเนื้อหาตามต้องการ */
        margin: 0 auto;
        /* จัดกึ่งกลางแนวนอน */
        text-align: left;
        /* จัดเนื้อหาภายในกึ่งกลาง */

    }

    .div-img-tanet {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .img-tanet {
        width: 60%;
    }
}

@media (max-width: 510px) {

    .div-name-person {
        font-size: 25px;
    }

    .profile-div {
        font-size: 20px;
        width: auto;
        height: auto;
    }

    .div-detail {
        color: white;
        font-size: 15px;
    }
}