    .layout {
        width: 98vw;
    }

    .navbar {
        width: 101.3%;
    }

    .label-navber {
        font-size: 0.75rem;
        font-weight: bold;
        margin: 5px 5px 0px 10px;
        cursor: pointer;
        color: white;
    }

    @media (max-width: 424px) {
        .label-navber {
            font-size: 0.65rem;
        }
    }


    .ant-anchor-link-title {
        color: white !important;
    }

    .ant-affix {
        background: black;
    }

    .anchor-body {
        background: black;

    }

    .navbar.fixed {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        /* ตั้งค่า z-index สูงกว่าเพื่อให้ Navbar แสดงอยู่ด้านบน */
    }

    .div-nav {
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: -5px;
    }

    .div-cv {
        color: white;
        font-size: 20px;
        margin: 15px 50px 10px 10px;
    }

    .nav-links {
        margin-left: 5px;
        display: flex;
        justify-content: center;
    }



    body {

        background-image: url("/assets/img/bg10.png");
        background-size: cover;
        /* ทำให้ภาพครอบคลุมเต็มพื้นที่ */
        background-repeat: no-repeat;
        /* ป้องกันการทำซ้ำของภาพ */
        background-attachment: fixed;
        /* ทำให้ภาพพื้นหลังคงที่เมื่อเลื่อนหน้าเว็บไซต์ */
        background-position: center;
        /* จัดภาพให้อยู่ตรงกลาง */
        margin: 0;
        /* ลบ margin เริ่มต้นของ body */
        padding: 0;
        /* ลบ padding เริ่มต้นของ body */
    }

    .language-menu {
        margin-top: 5px;
        position: relative;
        margin-right: 10px;


    }

    .iconGlobe {
        color: white;
        cursor: pointer;
    }

    .language-menu ul {
        position: absolute;

        right: 0px;
        /* เปลี่ยนจาก left: 0 เป็น right: 0 */
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 5px 15px;
        list-style-type: none;
        font-size: 14px;
        display: none;
    }



    .language-menu ul.active {
        margin-top: 3px;
        display: block;
    }

    .language-menu li {
        padding: 8px 10px;
        cursor: pointer;
    }

    .language-menu li:hover {
        background-color: #f0f0f0;
    }