.container {
    width: 100%;
    max-width: 1200px;
    margin: 100px auto;

}

.div-main-portfolio {
    width: 95%;

}

.div-label {
    display: flex;
    justify-content: center;
}

.label-portfolio {
    color: white;
    font-size: 1rem;
    margin: 2rem;
    font-weight: bold;
}

.div-port {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 350px;
}


@media (max-width: 1175px) {
    .div-port {
        display: grid;
        justify-content: space-between;
    }

    .card {
        width: 100%;
    }
}