.container {
    width: 100%;
    max-width: 1200px;


}


.div-main-experience {
    width: 95%;

}

.div-label {
    display: flex;
    justify-content: center;
}

.labal-position {
    font-size: 1rem;
    font-weight: bold;
}

.label-experience {
    color: white;
    font-size: 1rem;
    margin: 2rem;
    font-weight: bold;
}

.labal-experience-detail {
    font-size: 1rem;
    margin-left: 1rem;
  white-space: pre-wrap;
}

.ant-timeline-item-tail {
    background-color: rgb(68, 0, 255) !important;
}

.ant-timeline-item-content {
    font-size: 1rem !important;
    color: white !important;
}


@media (max-width: 813px) {
    .labal-experience-detail {
        font-size: 0.89rem;
       
    }
 
}